@import "/src/app/Styles/Variables.module";

.container-call-to-action {
  background-size: contain;
  padding: 0;
  height: 50vh;

  .background {
    background: rgba(0, 0, 0, 0.3019607843);

  }

  .content {
    @include displayCenterColumn;
    height: 100%;
    padding: 20px;
    h2 {
      color: $color-primary;
      font-weight: bold;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      font-weight: bold;

      span {
        cursor: pointer;
        color: $color-hover;
      }
    }

  }
}