@import "/src/styles/Variables.module";


.container-call-to-action {
  background-size: contain;
  padding: 0;
  height: 50vh;

  .background {
    background: rgba(0, 0, 0, 0.3019607843);

  }

  .content {
    @include displayCenterColumn;
    height: 100%;
    padding: 20px;

    h2 {
      color: $color-primary;
      font-weight: bold;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      font-weight: bold;
      filter: drop-shadow(2px 4px 6px white);

      span {
        cursor: pointer;
        color: $color-hover;

        padding: 4px;
        border-radius: 8px;
        background-color: #ede9e9a3;

        &:hover {
          background-color: #ede9e9;
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .container-call-to-action {
    background-size: 100% 100%;
    background-attachment: inherit !important;

  }
}
