@import "/src/app/Styles/Variables.module";

.container-blog {
  margin-top: 8em;
  .container-header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    h1{
      color: $color-secondary;
    }

    a {
      font-size: 1rem;
      color: $color-secondary;
      text-decoration: none;

      &:hover {
        color: $color-hover;
        text-decoration: none;
      }
    }

  }

  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    input {
      width: 50%;
      height: 2rem;
      border-radius: 8px;
      border: 1px solid $color-secondary;
      padding: 0 1rem;
      outline: none;

      &:focus {
        border: 1px solid $color-hover;
      }
    }
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include displayCenterColumn;

    .header-blog {
      @include displayCenterColumn;
    }

    .item-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
        justify-content: center;
    }

    .container-first-card {
      width: 60%;

      .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .card-img {
          height:100%

        }

      }


    }

    .not-found-msg {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
      color: $color-secondary;
    }
  }

}

@media screen and (max-width: 768px) {
  .container-blog {
    .container-cards {
      .container-first-card {
        width: 90%;

        .card {
          width: 100%;
          margin: 0 auto;

          .card-img {
            height: 100%;
          }
        }
      }

      .item-cards {
        justify-content: center;
        .card{
          width: 80%;
          margin: 0 auto;
        }
      }

    }

    .search-bar {
      input {
        width: 70%;
      }
    }
  }
}

