@import "/src/styles/Variables.module";


.animation-text {
  p {
    overflow: hidden;
  }

  .btn-header {
    width: 64vw;
    max-width: 504px;
    @include button;
    @include AnimationBtn
  }

  .displayNone {
    display: none !important;
  }
}
