@import "/src/app/Styles/Variables.module";

.about-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;

  .item2 {
    display: flex;
    align-items: center;


    i {
      font-size: 4vh;
      background: linear-gradient(to bottom, #0dcaf0, #3c9dda);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      fill: none;
      padding: 10px;
      border: 1px solid white;
      /*animation de l'item*/
      animation: animate 3s linear backwards;
      @keyframes animate {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(0.5);
        }
        100% {
          transform: scale(1);
        }
      }
    }

  }


  .image-container {
    width: 150px;
    height: 150px;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(2px 4px 6px grey);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-images {
    justify-content: space-between;

    .image-container {
      width: 100px;
      height: 100px;
      margin: 10px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .chevron {
      transform: rotate(90deg);
      border: none;
    }

    .text-h3 {
      font-size: 1.2rem;
      white-space: pre-wrap;
      width: 200px;
    }
  }
}