.swiperTemplate {
  cursor: auto;
}

.swiperTemplate .swiper-container {
  cursor: pointer; /* Ou tout autre style de curseur que vous préférez */
}

.swiperTemplate .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between !important;
}

.swiperTemplate .swiper-slide img {
  height: 30dvh;
  border-radius: 15px;
}

.swiperTemplate .swiper-slide p {
  text-align: center !important;
}



@media screen and (max-width: 600px) {
  .swiperTemplate .swiper-slide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
