
.swipper-template {
    width: 90%;
    height: 20em;
    cursor: auto;
}
.swipper-template .swiper-container {
    cursor: pointer; /* Ou tout autre style de curseur que vous préférez */
}

.swipper-template .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    display: flex;
    justify-content: space-between !important;
    /*height: 300px;*/
}

.swipper-template .swiper-slide img {
    /*display: block;*/
    /*width: 100%;*/
    height: 30dvh;
}

.swipper-template .swiper-slide p {
text-align: center !important;
}
