@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: black;
    position: relative;
    z-index: 0;
  }
  img {
    object-fit: cover;
  }

  .modal-open {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  a {
    color: white;
  }

  input {
    color: black;
  }

  textarea {
    color: black;
  }

  footer li {
    margin-bottom: 4px;
    white-space: pre-wrap;
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1,h2,h3,h4,h5,h6 {

  }
}

main {
  margin-top: 6em;
}
