.container-pages-info {
  padding: 5em 0;
  .header {
    text-align: center;
    h1 {
      font-size: 2em;
      color: #5e6163;
      font-weight: 500;
    }

    p {
      color: black;
    }
  }

  h2 {
    font-weight: 400;
    margin: 15px 0 5px 0;
  }

  p {
    color: black;
  }

  .tarifs-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 20px auto;

    .tarifs-card {
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  .container-pages-info {
    .tarifs-section {
      width: 90%;
    }
  }
}
