@import "/src/app/Styles/Variables.module";

.animation-text {
  p {
    overflow: hidden;
  }

  .btn-header {
    width: 64vw;
    max-width: 504px;
    @include button;
    animation-name: animationBtn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    @keyframes animationBtn {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(3deg);
      }
      60% {
        transform: rotate(-3deg);
      }
      70% {
        transform: rotate(3deg);
      }
      80% {
        transform: rotate(-3deg);
      }
      90% {
        transform: rotate(3deg);
      }
      100% {
        transform: rotate(0deg)
      }
    }
  }

  .displayNone {
    display: none !important;
  }
}