@import "/src/app/Styles/Variables.module";


//Section qui affichera 3 formules de tarifs différentes sur 3 colonnes
.section-tarif {
  margin: 5vh 0;
  background-color: $color-primary;
  text-align: center;
  padding: 0 30px;
  height: 100%;

  .content-tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    color: $color-secondary;
  }

  .tarif-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .tarif-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-rows: 0fr 0fr 1fr;
    padding: 20px;

    h3 {
      padding: 10px;
      position: relative;
      z-index: 100;

      &:hover {
        color: white;
      }
    }

    p {
      color: $color-secondary;
    }


    .tarif-price {
      border-top: 2px solid $color-hover;
      border-bottom: 2px solid $color-hover;
      position: relative;
      z-index: 100;
      @include displayCenterColumn;
      margin: 10px 0;

      p {
        font-weight: bolder;
        font-size: 20px;
        color: $color-hover;
        margin: 0;
        padding: 10px 0;
      }
    }

    .tarif-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 0.3s ease;

      button {
        @include button
      }
    }

    .offOverlay {
      display: none;
    }

    &:hover {
      transform: scale(1.05);

      .tarif-overlay {
        opacity: 1;
      }

      h3 {
        color: white;
      }

      .tarif-price {
        p {
          color: white;
        }
      }

      .offOverlay {
        opacity: 0;
      }
    }
  }

  .infos {
    color: $color-secondary;
    margin: 20px;
    font-size: 12px;
  }
}
