.logoPages {
  position: fixed;
  top: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100dvw;
  align-items: center;
  padding-right: 30px;;

  a {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;


    span {
      color: #4c98c9;
    }

    .logoSvg {
      width: 10vw;
      height: 5vh;
      -o-object-fit: contain;
      object-fit: contain;
      margin: 5px 5px;
    }

    .container-btn{
        display: flex;
      .btn-contact {
        height: 5vh;
      }
    }

  }



}