/* .mainSwiperSlide {
  z-index: 0;
} */

.mainSwiperSlide .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainSwiperSlide .swiper-navigation {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.mainSwiperSlide .swiper-pagination-progressbar {
  top: 1em;
  padding: 5px;
  border-radius: 50px;
}

.mainSwiperSlide .swiper-navigation button {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.mainSwiperSlide .swiper-wrapper {
  align-items: flex-start;
}

.hiddenDisplay {
  display: none !important;
}

.displayForm {
  display: block !important;
}
